{% extends 'base.html' %}

{% block title %}
    View Appointments
{% endblock %}

{% block content %}
    <h1>Appointments Pending Approval</h1>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered mt-3">
                <thead class="table-dark">
                    <tr>
                    <th>Advisor</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Topic</th>
                    <th>Mode of Meeting</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.advisor.user.get_full_name }}</td>
                    <td>{{ appointment.start_time }}</td>
                    <td>{{ appointment.end_time }}</td>
                    <td>{{ appointment.topic }}</td>
                    <td>{{ appointment.mode_of_meeting }}</td>
                    <td>
                        <form action="{% url 'approved_appointments_student' appointment.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Agree</button>
                        </form>
                        <a href="{% url 'edit_appointment_student' appointment.id %}" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>
{% endblock %}
